# Node / TypeScript
node_modules/
dist/
coverage/
.turbo/

# Logs & Build
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Env & Secrets
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp

# Terraform
terraform.tfstate
terraform.tfstate.*
.terraform/
.terraform.lock.hcl

# OS-specific
Thumbs.db
Desktop.ini


